*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body{
    border: 2px solid darkred;
    width: 500px;
    height: auto;
    margin: 10px auto;
}
.all{
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
}
.time{
    color: red;
}
#time{
    color: rebeccapurple;
}
.Ingredients{
    font-weight: bold;
    border: 2px dotted black;
    padding: 5px;
    margin: 5px;
} 
.mek{
    color: black;
    font-size: 24px;
}
ul{
    list-style: none;
}
ol{
    list-style: none;
}